<a href="https://colab.research.google.com/github/robert-sturrock/finance-analysis/blob/master/monzo_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install pymonzo

import csv
from pymonzo import MonzoAPI
import pandas as pd
import datetime as dt
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='robertsturrock', api_key='cmvuePKlxyspZ3sMg1tt')

%matplotlib inline

from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import Contours, Histogram2dContour, Marker, Scatter


import plotly.figure_factory
help(plotly.figure_factory)

Requirement already satisfied: pymonzo in /usr/local/lib/python3.6/dist-packages (0.11.0)
Requirement already satisfied: python-dateutil<3.0,>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pymonzo) (2.8.0)
Requirement already satisfied: six<2.0,>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from pymonzo) (1.11.0)
Requirement already satisfied: requests-oauthlib<1.0,>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from pymonzo) (0.8.0)
Requirement already satisfied: requests<3.0,>=2.18.4 in /usr/local/lib/python3.6/dist-packages (from pymonzo) (2.18.4)
Requirement already satisfied: oauthlib>=0.6.2 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib<1.0,>=0.8.0->pymonzo) (3.0.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.18.4->pymonzo) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.18.4->pymonzo) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.18.4->pymonzo) (2019.3.9)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.18.4->pymonzo) (2.6)
Help on package plotly.figure_factory in plotly:

NAME
    plotly.figure_factory

PACKAGE CONTENTS
    _2d_density
    _annotated_heatmap
    _bullet
    _candlestick
    _county_choropleth
    _dendrogram
    _distplot
    _facet_grid
    _gantt
    _ohlc
    _quiver
    _scatterplot
    _streamline
    _table
    _ternary_contour
    _trisurf
    _violin
    utils

DATA
    absolute_import = _Feature((2, 5, 0, 'alpha', 1), (3, 0, 0, 'alpha', 0...

FILE
    /usr/local/lib/python3.6/dist-packages/plotly/figure_factory/__init__.py

In [0]:
  # Allow for larger output window printing
pd.set_option('display.max_rows', 800)
pd.set_option('display.max_columns', 500)
pd.set_option('max_colwidth',100)

In [0]:
# Quick test with Monzo API package
monzo_api = MonzoAPI('eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJlYiI6IkZQb3d2OXZVdkhBMDc1TFZsQWFZIiwianRpIjoiYWNjdG9rXzAwMDA5Z28wRG9hYWhWRE5tZTQyNVoiLCJ0eXAiOiJhdCIsInYiOiI1In0.7KugZjRZ0jH89a_eYD0VjEIIlVaJOPqxxl-8JzctzGBp3aLOGINGplMhD1J0XIgtLoJZjiCJErzuPx7FnikM4Q')
print(monzo_api.accounts()[1])

MonzoAccount(created=2017-12-27 18:15:42.739000+00:00, id=acc_00009RzbOvyQj1hBYCUKen, closed=False, description=user_00009GirSq3uQu8FnOFf2v, account_number=98982886, sort_code=040004, type=uk_retail, owners=[{'user_id': 'user_00009GirSq3uQu8FnOFf2v', 'preferred_name': 'Robert Sturrock', 'preferred_first_name': 'Robert'}])

In [0]:
# Create transactions
df = pd.DataFrame()
descriptions = []
amounts = []
categories = []

type(df)
type(descriptions)
print(descriptions)

[]

In [0]:


### Load in data from API
def monzo_data(access_token):
    '''
    Used to access the monzo api and return a dataframe with relevant information
    Currently relies on pymonzo and the use of a developer ID token.
    '''
    # Access API
    monzo_api = MonzoAPI(access_token)

    # Create dataframe base
    df = pd.DataFrame()
    descriptions = []
    amounts = []
    categories = []
    notes = []
    dates = []

    # Get transactions
    for transaction in monzo_api.transactions(account_id = monzo_api.accounts()[1].id):
        descriptions.append(transaction.description)
        amounts.append(transaction.amount)
        categories.append(transaction.category)
        notes.append(transaction.notes)
        dates.append(transaction.created)

    # Create dataframe
    df['description'] = descriptions
    df['amount'] = amounts
    df['category'] = categories
    df['date'] = dates
    df['notes'] = notes
    
    # Convert all amounts to dollars
    df['amount'] = df['amount']/100


    # Modify date object
    df['ymd'] = df['date'].apply(lambda x: 
                                    dt.datetime.date(x))
    
    return df

In [0]:
df = monzo_data('eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJlYiI6IkZQb3d2OXZVdkhBMDc1TFZsQWFZIiwianRpIjoiYWNjdG9rXzAwMDA5Z28wRG9hYWhWRE5tZTQyNVoiLCJ0eXAiOiJhdCIsInYiOiI1In0.7KugZjRZ0jH89a_eYD0VjEIIlVaJOPqxxl-8JzctzGBp3aLOGINGplMhD1J0XIgtLoJZjiCJErzuPx7FnikM4Q')

In [0]:
def make_list(item):
  return(item if isinstance(item, list) else [item])

def create_multi_bar_data(df, categories):
  dff = df[df['category'].isin(make_list(categories))].groupby(['ymd','category']).agg({'amount':'sum'}).reset_index()

  data = []
  for category in dff['category'].unique():
    dff_tmp = dff[dff['category']==category]
    data.append(
        go.Bar(x=dff_tmp.ymd, y=-dff_tmp['amount'], name = category)
    )
    return(data)
  
def create_multi_bar(df, categories):
  dff = df[df['category'].isin(make_list(categories))].groupby(['ymd','category','description']).agg({'amount':'sum'}).reset_index()
 

  data = []
  for category in dff['category'].unique():
    dff_tmp = dff[dff['category']==category]
    my_text = ['(Amount: '+'{:.2f}'.format(am)+'<br> Description: '+desc+')' for am, desc in zip(list(dff_tmp['amount']),list(dff_tmp['description']))]
    data.append(
        go.Bar(x=dff_tmp.ymd, y=-dff_tmp['amount'], text = my_text, hoverinfo = 'text', name = category)
    )


  layout = go.Layout(
      barmode='group'
  )

  fig = go.Figure(data=data, layout=layout)
  return(py.iplot(fig, filename='grouped-bar'))

In [0]:
import plotly.plotly as py
import plotly.graph_objs as go

create_multi_bar(df, 'eating_out')

In [0]:
# Check the dates merges

# Create a date range
all_dates = pd.DataFrame({'ymd': pd.date_range(start='1/1/2018', end='31/12/2018')})
all_dates['dummy'] = 1
all_dates['ymd'] = all_dates['ymd'].apply(lambda x: 
                                            dt.datetime.date(x))

# Create all categories
categories = df['category'].unique()
categories = categories[categories != 'NaN']
all_categories = pd.DataFrame({'category':categories})
all_categories['dummy'] = 1

# Create all dates and categories
df_dates = pd.merge(all_dates, all_categories, how='outer', on = 'dummy')

# Join data to actuals
#df_dates = pd.merge(df_dates, df, how='left', on = ['ymd','category'])

In [0]:
df_dates = pd.merge(df_dates, df, how='left', on = ['ymd','category'])

In [0]:
print(type(df_dates.ymd[0]))
print(type(df.ymd[0]))

<class 'datetime.date'>
<class 'datetime.date'>

# Correctly label transfers to allow wealth change assessment

In [0]:
# Impliment simple changes 

def category_assignment(df): 
  '''This function assigns categories where the category value
  is not available. It follows fairly simple rules. Currently 
  implimented ones are: 
  
  1.Transfer to and Transfer from are assigned 'transfer'
  2.a 16 string number is 'general'
  3.Funding C is 'transfer'
  4.>2000 income is salary (if not also transfer)
  5.Faster payments is asigned to entertainment
  6.If notes contains funding cirlce then modify to Transfer
  
  
  For more general audiences adding the following tags will flag transfer:
  1. #saving (as we want to flag transfers that not associated with a reduction in wealth)
  '''
 
  
  # Bulk classification
  df.loc[(df.amount > 1500), 'category'] = 'salary' # start with this and reclassify as needed
  df.loc[df.description.str.contains("pot_"), 'category'] = 'transfer' # transfers  
  df.loc[df.description.str.contains("Transfer to|Transfer from"), 'category'] = 'transfer' # transfers
  df.loc[(df.description.str.contains("Maria Lachenauer") & (df.amount < 0)), 'category'] = 'transfer' # Isabel transfers
  df.loc[(df.description.str.contains("Robert Sturrock") & (df.amount < 0)), 'category'] = 'transfer' # Isabel transfers
  df.loc[df.description.str.match("\d{16}"), 'category'] = 'general' # credit card
  df.loc[df.description.str.contains("FUNDING C"), 'category'] = 'transfer' # funding circle
  df.loc[(df.description.str.match("VG\d{16}")) | (df.description.str.match("VANGAURD")), 'category'] = 'transfer' # vangaurd
  df.loc[df.notes.str.match("#saving"), 'category'] = 'transfer'
  df.loc[(df.description.str.contains("Faster Payments")) & (df.amount < abs(500)), 'category'] = 'general' # payments to others

  # Tag specifics
  df.loc[df.description.str.contains("#savings"), 'category'] = 'transfer' # payments to others
  df.loc[df.description.str.contains("#savings"), 'category'] = 'transfer' # payments to others
  df.loc[df.description.str.contains("#google"), 'category'] = 'transfer' # payments to others

  
  # This is replacing just the nulls
  df.loc[(pd.isnull(df.category)), 'category'] = 'general'
  return df

In [0]:
df = category_assignment(df)

In [0]:
# Create function that calculates wealth change

# First pick a start date:
start_date = '2019-01-01'
df_tmp = df.loc[df.ymd > dt.datetime.strptime(start_date, "%Y-%m-%d").date()]

# Exclude all transfers
df_tmp = df_tmp[df_tmp.category != 'transfer']

# Sort by date
df_tmp = df_tmp.sort_values(by=['ymd'])

# Then chart total change in amount over that time
df_tmp.amount.sum()

# Calculate the number of days between the dates
total_days = (dt.datetime.today().date() - dt.datetime.strptime(start_date, "%Y-%m-%d").date()).total_seconds() / 86400

# Then chart average saving per day 
df_tmp.amount.sum()/total_days
df_tmp.amount.sum()/(total_days / 30.52)

# Create a plot of net savings over time 
rolling_amount = df_tmp.amount.cumsum()
date = df_tmp.ymd 
df_plt = pd.DataFrame({"date":date,"rolling_amount":rolling_amount})
df_plt.head()

#Make plot
data = [go.Scatter(x = df_plt.date, y = df_plt['rolling_amount'])]
fig = go.Figure(data=data)
py.iplot(fig, filename='cumsum')

In [0]:
# Function for plotting wealth over time
def cum_wealth(df, start_date, end_date): 
  '''
  Calculate cumulative change in wealth between a
  start and end date. 
  
  Parameters:
    df (Pandas.DataFrame): DataFrame containing monzo transactions
    start_date (string): the start date for calculating wealth change
    end_date (string): the end date for calculating wealth change

  Returns:
    plot
  
  '''
  
  # Filter by start and end date:
  df_tmp = df.loc[
      (df.ymd > dt.datetime.strptime(start_date, "%Y-%m-%d").date()) &
      (df.ymd < dt.datetime.strptime(end_date, "%Y-%m-%d").date())
  ]

  # Exclude all transfers
  df_tmp = df_tmp[df_tmp.category != 'transfer']

  # Sort by date
  df_tmp = df_tmp.sort_values(by=['ymd'])


  # Create a DataFrame of net savings over time 
  rolling_amount = df_tmp.amount.cumsum()
  date = df_tmp.ymd 
  df_plt = pd.DataFrame({"date":date,"rolling_amount":rolling_amount})
  df_plt.head()

  #Make plot
  data = [go.Scatter(x = df_plt.date, y = df_plt['rolling_amount'])]
  fig = go.Figure(data=data)
  plt_output = py.iplot(fig, filename='cumsum')
  
  return plt_output

In [0]:
cum_wealth(df, "2018-02-01", "2019-03-01")

In [0]:
# Get current date
def current_date():
 return dt.datetime.today().strftime("%Y-%m-%d")

In [0]:
current_date()

'2019-03-16'

## Show how expenses have broken down over time

In [0]:
# Create function that calculates wealth change


# First pick a start date:
start_date = '2019-01-01'
df_tmp = df.loc[df.ymd > dt.datetime.strptime(start_date, "%Y-%m-%d").date()]

# Exclude all transfers and salary
df_tmp = df_tmp[~df_tmp.category.isin(['salary','transfer'])]

# Create summary values
df_sum = df_tmp.groupby('category').agg({'amount':'sum'}).reset_index()
df_sum['amount'] = -df_sum.amount
df_sum['count'] = df_tmp.groupby('category').agg({'amount':'count'}).reset_index(0, drop=True)
df_sum.head()

# Create plot 
labels = df_sum.category
values = df_sum.amount

trace = go.Pie(labels=labels, values=values, hole = .5)

py.iplot([trace], filename='basic_pie_chart')

In [0]:
def expense_pie(start_date, end_date):    
  
  # Filter by start and end date:
  df_tmp = df.loc[
        (df.ymd > dt.datetime.strptime(start_date, "%Y-%m-%d").date()) &
        (df.ymd < dt.datetime.strptime(end_date, "%Y-%m-%d").date())
    ]

  # Exclude all transfers and yusalary
  df_tmp = df_tmp[~df_tmp.category.isin(['salary','transfer'])]

  # Create summary values
  df_sum = df_tmp.groupby('category').agg({'amount':'sum'}).reset_index()
  df_sum['amount'] = -df_sum.amount
  df_sum['count'] = df_tmp.groupby('category').agg({'amount':'count'}).reset_index(0, drop=True)
  df_sum.head()

  # Create plot 
  labels = df_sum.category
  values = df_sum.amount

  trace = go.Pie(labels=labels, values=values, hole = .5)

  return py.iplot([trace], filename='basic_pie_chart')

In [0]:
expense_pie('2019-01-01','2019-03-01')

## Create income vs expenditure bars / savings rate

Here we want two bars one for income one for expenditure

In [0]:
import numpy as np

# First pick a start date:
start_date = '2018-01-01'
df_tmp = df.loc[df.ymd > dt.datetime.strptime(start_date, "%Y-%m-%d").date()]

# Exclude all transfers
df_tmp = df_tmp[~df_tmp.category.isin(['transfer'])]

# Create new categories for income / expenditure
df_tmp['category_income'] = np.where(df_tmp['amount']>=0, 'income', 'expenses')

# Make all amounts > 0
df_tmp['amount'] = np.where(df_tmp['amount']<0, -df_tmp.amount, df_tmp.amount)


# Create summary values
df_sum = df_tmp.groupby('category_income').agg({'amount':'sum'}).reset_index()
df_sum.head()

# Create plot 
labels = df_sum.category_income
values = df_sum.amount

data = [go.Bar(
            x=labels,
            y=values,
            marker=dict(
              color=['#db4437', '#0f9d58']
            )
    )]


py.iplot(data, filename='basic-bar')

In [0]:
# Function for plotting wealth over time
def inc_exp(df, start_date, end_date): 
  '''
  Calculate cumulative change in wealth between a
  start and end date. 
  
  Parameters:
    df (Pandas.DataFrame): DataFrame containing monzo transactions
    start_date (string): the start date for calculating wealth change
    end_date (string): the end date for calculating wealth change

  Returns:
    plot
  
  '''
  
  # Filter by start and end date:
  df_tmp = df.loc[
      (df.ymd > dt.datetime.strptime(start_date, "%Y-%m-%d").date()) &
      (df.ymd < dt.datetime.strptime(end_date, "%Y-%m-%d").date())
  ]

  # Exclude all transfers
  df_tmp = df_tmp[df_tmp.category != 'transfer']

  # Create new categories for income / expenditure
  df_tmp['category_income'] = np.where(df_tmp['amount']>=0, 'income', 'expenses')

  # Make all amounts > 0
  df_tmp['amount'] = np.where(df_tmp['amount']<0, -df_tmp.amount, df_tmp.amount)


  # Create summary values
  df_sum = df_tmp.groupby('category_income').agg({'amount':'sum'}).reset_index()
  df_sum.head()

  # Create plot 
  labels = df_sum.category_income
  values = df_sum.amount

  data = [go.Bar(
              x=labels,
              y=values,
              marker=dict(
                color=['#db4437', '#0f9d58']
              )
      )]

  return py.iplot(data, filename='basic-bar')

In [0]:
inc_exp(df, '2019-03-01','2019-03-31')

# Unused workings

### Date functions

In [0]:
df['ymd'] = pd.to_datetime(df.date)
df.head()

,description,amount,category,date,notes,ymd
0,SIMON THE TANNER ZZZZZZZZZZZZZ GBR,-2.25,entertainment,2019-03-16 14:48:38.363000+00:00,,2019-03-16 14:48:38.363000+00:00
1,TESCO STORES 4359 LONDON GBR,-12.95,groceries,2019-03-16 12:51:04.077000+00:00,,2019-03-16 12:51:04.077000+00:00
2,SAINSBURYS LOC (4574) SOUTHWARK GBR,-6.45,groceries,2019-03-14 18:59:42.317000+00:00,,2019-03-14 18:59:42.317000+00:00
3,Erik signed up!,5.00,general,2019-03-14 10:22:02.491000+00:00,You've referred 1 person,2019-03-14 10:22:02.491000+00:00
4,TESCO-STORES 6485 LONDON METRO GBR,-9.37,groceries,2019-03-11 19:50:30.742000+00:00,,2019-03-11 19:50:30.742000+00:00

In [0]:
df['datetime'] = df['date'].apply(lambda x: pd.to_datetime(str(x)))

In [0]:
print(str(df['datetime'][0].date()) + " " + str(df['datetime'][0].hour))

2019-03-16 14

In [0]:
import datetime as dt
df['ymd'] = df['date'].apply(lambda x: 
                                    dt.datetime.date(x))

df['hour'] = df['datetime'].apply(lambda x: 
                                    x.hour)

# Create detailed date
# df['ymd'] = df['date'].apply(lambda x: 
#                                     str(x.date()) + " " + str(x.hour))

In [0]:
df[df.category == 'cash']

,description,amount,category,date,notes,ymd,datetime,hour
18,Robert monzo,-200.00,cash,2019-03-05 01:43:49.723000+00:00,Robert monzo\n#saving\n,2019-03-05,2019-03-05 01:43:49.723,1
58,Robert monzo,-200.00,cash,2019-02-05 01:37:55.169000+00:00,Robert monzo\n#saving\n,2019-02-05,2019-02-05 01:37:55.169,1
110,Robert monzo,-200.00,cash,2019-01-05 01:36:54.756000+00:00,Robert monzo\n#saving,2019-01-05,2019-01-05 01:36:54.756,1
152,Robert monzo,-200.00,cash,2018-12-05 01:35:50.407000+00:00,Robert monzo\n#saving,2018-12-05,2018-12-05 01:35:50.407,1
230,Robert monzo,-200.00,cash,2018-11-05 01:41:23.294000+00:00,Robert monzo\n#saving,2018-11-05,2018-11-05 01:41:23.294,1
313,Robert monzo,-200.00,cash,2018-10-05 02:08:59.404000+00:00,Robert monzo\n#saving,2018-10-05,2018-10-05 02:08:59.404,2
365,Robert monzo,-200.00,cash,2018-09-05 02:02:47.545000+00:00,Robert monzo\n#saving,2018-09-05,2018-09-05 02:02:47.545,2
461,Robert monzo,-200.00,cash,2018-08-05 02:03:04.977000+00:00,Robert monzo\n#saving,2018-08-05,2018-08-05 02:03:04.977,2
497,Robert monzo,-200.00,cash,2018-07-05 02:03:35.336000+00:00,Robert monzo\n#saving,2018-07-05,2018-07-05 02:03:35.336,2
546,Robert monzo,-200.00,cash,2018-06-05 02:04:03.103000+00:00,Robert monzo\n#saving,2018-06-05,2018-06-05 02:04:03.103,2
616,Robert monzo,-200.00,cash,2018-05-05 02:04:38.340000+00:00,Robert monzo\n#saving,2018-05-05,2018-05-05 02:04:38.340,2
661,51 7TH AVENUE S NEW YORK NY,-30.71,cash,2018-04-06 21:05:24.706000+00:00,,2018-04-06,2018-04-06 21:05:24.706,21
711,BANCO POPULAR MADRID ESP,-35.49,cash,2018-03-15 17:42:03.564000+00:00,,2018-03-15,2018-03-15 17:42:03.564,17
735,BERMONDSEY TOWER BERMONDSEY GBR,-10.00,cash,2018-03-04 13:20:44.786000+00:00,,2018-03-04,2018-03-04 13:20:44.786,13